@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
*{
  outline: none;
}
body{
  margin: 0;
  padding: 0;
}
main{
  background-image: url("img/picture.png");
  width: 100%;
  height: 1000px;
  margin-bottom: 150px;
}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span{
  margin-top: 15px;
  color: #fff;
  font-size: 2.5em;
  padding-left: 10%;
  font-weight: bold;
}
nav{
  margin-top: 15px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-links{
  font-size: 1.5em;
}
.div-links a{
  color: #fff;
  text-decoration: none;
}
.div-links a:hover{
  text-decoration: underline;
  color: yellow;
}
.creative{
  color: #fff;
  font-size: 3em;
  font-family: cursive;
}
.welcome{
  text-transform: uppercase;
  font-size: 5em;
  color: #fff;
  font-weight: bold;
  font-family: serif;
}
.hello{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
.learn-more{
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 3px 8px 3px 8px;
  color: #fff;
  margin-top: 50px;
  text-decoration: none;
}
.learn-more:hover{
  color: yellow;
  border: 3px solid yellow;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what{
  font-family: cursive;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}
.story{
  text-transform: uppercase;
  font-size: 2em;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 0px;
}
.red-line{
  border: none;
  background-color: red;
  margin: 50px auto 50px auto;
  width: 70px;
  height: 4px;
}
.text{
  color: grey;
  text-align: center;
  padding: 10px 30% 10px 30%;
}
.pics{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.img{
  margin-right: 50px;
}
.img.shadow{
  box-shadow: 15px 10px 0px #95e1d3;
}
.states{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #95e1d3;
  padding: 40px 20% 40px 20%;
  margin-bottom: 150px;
}
.nums{
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  color: #fff;
  line-height: 1.5;
}
.state{
  text-transform: uppercase;
  font-size: 0.25em;
  color: #fff;
}
.photos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20% 10px 20%;
}
.photos:last-of-type{
  margin-bottom: 150px;
}
.lorem{
  color: grey;
}
.what-we-can span{
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: -12px;
  left: 5px;
}
.sect-one{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box{
  background-color: #EEEEEE;
  background-image: url("img/layer.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 850px;
  margin-bottom: 150px;
}
.tablet{
  background-image: url("img/tablet.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 570px;
  height: 620px;
  margin: auto;
  position: relative;
  left: -30px;
  top: -53px;
}
.iphone{
  background-image: url("img/iphone.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 274px;
  height: 476px;
  margin: auto;
  position: relative;
  left: 240px;
  top: -430px;
}
.for {
  margin-top: 100px;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
}
.unique{
  font-size: 2em;
  font-family: cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  padding: 10px 20% 10px 20%;
}
.container.then{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 700px;
}
.title{
  text-transform: uppercase;
  font-weight: 500;
  width: 700px;
}
.photo, .creativity, .web_design{
  display: flex;
  border: 1.5px solid silver;
  align-items: center;
}
.photo{
  border-top: 10px solid silver;  
}
.arrow{
  margin: 5px 0 0 30px;
  transform: scaleX(3) scaleY(2);
  width: 15px;
  color: #666;
  cursor: pointer;
  user-select: none;
}
.down{
  margin: -7px 0 0 30px;
  transform: scaleX(3) scaleY(2) rotateX(180deg);
}
.lol{
  width: 30px;
  margin: 10px;
}
.lorem_two{
  border-left: 1.5px solid silver;
  border-right: 1.5px solid silver;
  padding: 15px;
  color: grey;
}
.lorem_two:last-of-type{
  border-bottom: 1.5px solid silver;
}
