@import url('https://fonts.googleapis.com/css?family=Corben|Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

*::selection {
  color: #000;
  background: red;
 }
.canvas{
  border: 3px solid #000;
}
.score{
  font-size: 4em;
  font-family: cursive;
}
body{
  margin: 0;
  padding: 0;
  background-color: #8da2c4;
}
.main{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.article-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-two{
  font-size: 2.5em;
  font-family: cursive;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1650px){
  .article-two{
    font-size: 2em;
  }
  .score{
    font-size: 3em;
  }
}
@media (max-width: 1350px){
  .main{
    flex-direction: column;
  }
}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: linear-gradient(to left, #f75231, #f2a538);
}
.logo{
  margin-left: 30px;
}
.logo > span{
  font-family: 'Muli', sans-serif;
  color: #eeff00;
  font-size: 2em;
}
.header{
  margin-right: 5%;
}
.header > span{
  font-family: 'Muli', sans-serif;
  color: #fff;
  font-size: 1.3em;
  margin-right: 10%;
}
