@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap&subset=cyrillic');
*{
  font-family: 'Didact Gothic', sans-serif;
}
.main{
  font-size: 1.5em;
}
.input{
  display: block;
  margin-bottom: 30px;
}
.notice{
  font-size: 1.7em;
}
.to-home{
  font-size: 1.5em;
  position: absolute;
  top: 12px;
  left: 450px;
}
h1{
  color: #fc9803;
  font-size: 2.5em;
}
.form{
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0px 7px 0px 5px;
  font-size: 16px;
}
.form:hover{
  border: 2.5px solid red;
}
